body {
	color : #FFFFFF;
	background-color : #000000;
	font-family : Arial;
}
h1 {
	font-family: Arial;
}
a:link	{	color: gold 		}
a:visited	{	color: gold		}
a:hover	{	color: #FFFF00		}
a:active	{	color: #FFFFFF		}


